#main-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    overflow: hidden;
    justify-content: space-evenly;
    align-items: center;
    background-color: red;
    
}
.img {
    border: 2px solid black;
    filter: blur(10px);
}

.nonblur {
    filter: blur(0px);
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}